@import url("./__container/form__container.css");
@import url("./__title/form__title.css");
@import url("./__name/form__name.css");
@import url("./__description/form__description.css");
@import url("./__save-button/form__save-button.css");
@import url("./__close-button/form__close-button.css");
@import url("./__overlay/form__overlay.css");
@import url("./__container/_type_image/form__container_type_image.css");

.form {
    /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}