@import url("./avatar/avatar.css");
@import url("./__section/profile__section.css");


.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 58px;
    max-width: 882px;
    width: calc(100% - 398px);
    box-sizing: border-box;
}


@media screen and (max-width: 900px) {
    
.profile {   
    width: calc(100% - 198px);
    flex-direction: column;
}
}

@media screen and (max-width: 700px) {
    
    .profile {   
        width: calc(100% - 38px);
        
    }
    }