.elements__image {
    max-width: 282px;
    height: 282px;
    width: 100%;
    max-height: 282px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

