.form__input-error {
  display: none;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: red;
  margin-top: 5px;
  margin-left: 36px;
  margin-right: 36px;
}

@media screen and (max-width: 500px) {

.form__input-error {
  margin-left: 20px;
  margin-right: 20px;
}