.elements__heart-icon {
    width: 21px;
    height: 18px;
    align-self: center;
    background-image: url("../../../images/hearticon.svg");
    background-repeat: no-repeat; 
    background-color: transparent; 
    border: none;
}