.elements__trash-icon {
    position: absolute;
    width: 21px;
    height: 20.3px;
    align-self: center;
    background:  url("../../../images/trash.svg") no-repeat center bottom, url("../../../images/trashtop.svg") no-repeat center top; 
    border: none;
    top: 18px;
    right: 15px;
    z-index: 1;
}
