.form__save-button_type_inactive {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  opacity: .2;
  cursor: not-allowed;
}